:root {
    --text-colour: #f8f4ea;
    --lighter-text-colour: #ece8dd;
    --background-colour: #333;
    --lighter-background-colour: #404040;
    --lightest-background-colour: #808080;
    --accent-color: #008cff;
    --warning-colour: #ff3333;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-color);
}

table {
    border-spacing: 0rem 0.2rem;
    border: 0;
}

a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-size: 0.8rem;
    color: var(--lighter-text-colour);
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--lighter-text-colour);
}

.warning {
    background-color: var(--lighter-background-colour);
    color: var(--warning-colour);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
}